.contact {
    &__social {
      &-links {
        display: flex;
        gap: 2.75rem;
        padding: 12vw;
      }
  
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
  
        &-image {
          width: 2.25rem;
        }
  
        &--height {
          height: 2.25rem;
        }
      }
    }
  }
  