$primary-light-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #fafafa;

.contact {
    &__content {
      line-height: 1.5rem;
      color: $primary-white;
  
      &-3 {
        padding: 3rem 0 0 0;
      }
  
      &-items {
        color: $primary-white;
        padding-top: 1.5rem;
        display: flex;
        font-size: 1.15rem;
        flex-direction: column;
      }
      
      &-item {
        color: $primary-white;
        width: 95%;
        padding: 0.25rem 0;
        text-align: center;
  
        &--link {
          color: $primary-white;
          text-decoration: none;
  
          &:hover {
            color: $primary-silver;
          }
        }
  
        &--bold {
          font-weight: 600;
        }
  
        &--copyright {
          font-size: 0.75rem;
          font-weight: 400;
          width: 100%;
          padding: 0.5rem 0 1rem 0;
          margin: 0;
          color: $primary-white;
          text-align: center;
          background-color: $primary-light-black;
        }
      }
    }
  }
  